embedAllImages();  
  
function embedAllImages(){  
    var placedArt = app.activeDocument.placedItems;  
    if ( placedArt.length == 0 ) { return; }  
    for ( var i = placedArt.length-1; i >= 0; i-- ) {  
        placedArt[i].embed();  
    };  
};  
